<div class="header">
  <div class="container">
    <div class="content_header">
      <div class="logo">
        <a href="#">
          <img src="../../../assets/icons/optima-logo.jpg" alt="Optima logo" width="280" height="48">
        </a>
      </div>
      <div class="lang">
        <div>
          <a href="#" (click)="chooseEn($event)">Eng</a>
          <a href="#" (click)="chooseRu($event)">Rus</a>
        </div>
        <app-slide-toggle></app-slide-toggle>
      </div>
    </div>
  </div>
</div>
