<div class="header">
  <div class="container">
    <div class="content_header">
      <div class="logo">
        <a href="#">
          <img
            i18n-title
            title="Optima logo"
            src="../../../assets/icons/optima-logo.jpg"
            alt="Optima logo"
            width="280"
            height="48"
          >
        </a>
      </div>
      <div class="lang">
        <div>
          <a type="button" (click)="chooseEn()">{{ 'BUTTONS.EN' | translate }}</a>
          <a type="button" (click)="chooseRu()">{{ 'BUTTONS.RU' | translate }}</a>
        </div>
        <app-slide-toggle></app-slide-toggle>
      </div>
    </div>
  </div>
</div>
