<div class="box">
  <form (ngSubmit)="getWeatherInfo()" #form="ngForm">
    <span class="text-center">{{ 'SEARCH.TITLE' | translate }}</span>
    <div class="input-container">
      <input
        type="text"
        required=""
        name="city"
        ngModel
      />
      <label>{{ 'SEARCH.INPUT_NAME' | translate }}</label>
      <small *ngIf="weatherError">
        {{ weatherError | async }}
      </small>
    </div>
    <button
      type="submit"
      class="btn"
      disabled=""
      [disabled]="loading | async"
    >
      <i class="fa fa-spinner fa-spin" *ngIf="loading | async"></i>
      {{ 'SEARCH.BUTTON' | translate }}
    </button>
  </form>
</div>
