<div class="content">
  <div class="search-block">
    <app-search></app-search>
  </div>
  <div class="info-block" *ngIf="!currentWeather">
    <app-info-block></app-info-block>
  </div>
  <div class="result-block" *ngIf="currentWeather">
    <div class="temp_type">
      <button (click)="getFahrenheit()" class="btnTemp">
        {{ temperatureType ? '°C' : '°F'}}
      </button>
    </div>
    <p>{{ currentWeather?.name }}</p>
    <span class="temp" i18n>
      {{ temperatureType ? fahrenheit : currentWeather?.main?.temp }}
      {{ temperatureType ? '°F' : '°C'}}
    </span>
    <div class="current_info">
      <span class="col">
        <strong>
          {{ temperatureType ? minFahrenheit : currentWeather?.main?.temp_min }}
          {{ temperatureType ? '°F' : '°C'}}
        </strong>
        Минимальная
      </span>
      <span class="col">
        <strong>
          {{ temperatureType ? maxFahrenheit : currentWeather?.main?.temp_max }}
          {{ temperatureType ? '°F' : '°C'}}
        </strong>
        Максимальная
      </span>
      <span class="col">
        <strong>
          {{ temperatureType ? feelsFahrenheit : currentWeather?.main?.feels_like }}
          {{ temperatureType ? '°F' : '°C'}}
        </strong>
        Ощущается как
      </span>
      <span class="col">
        <strong>{{ currentWeather?.main?.humidity }}%</strong>
        Влажность
      </span>
      <span class="col">
       <strong>{{ currentWeather?.main?.pressure }}</strong>
        Давление
      </span>
      <span class="col">
        <strong>
          <strong>{{ currentWeather?.wind?.speed }} / </strong>
          <strong>{{ currentWeather?.wind?.deg }}</strong>
        </strong>
        Ветер
      </span>
    </div>
  </div>
</div>
